language: node_js
node_js:
  - "6.9"

branches:
  only:
    - master

before_script:
  - npm install -g firebase-tools
  - npm install -g @angular/cli
  - npm install -g @compodoc/compodoc
  - npm install -g angular-cli-ghpages

script:
  - npm install
  - ng build --prod
  - compodoc -p src/tsconfig.app.json
  - ngh --dir "documentation" --no-silent

after_success:
  - firebase deploy --token $FIREBASE_TOKEN

notifications:
  email:
    on_failure: change
    on_success: change
