<div class="container-fluid appointments-page">
  	<div class="row">
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Monday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Tuesday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Wednesday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Thursday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Friday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Saturday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Sunday</p>
			<div class="list-item">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar class="header-image"  src="assets/images/docter.jpeg">
					</mat-card-header>
					<mat-card-content>
						<p>Abrahan</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
  	</div>
</div>
