<mat-toolbar>Appointments</mat-toolbar>
<div class="container-fluid appointments-page">
  	<div class="row appointment-content">
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Monday</p>
			<div class="list-item day-over">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title selected">Tuesday</p>
			<div class="list-item">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Wednesday</p>
			<div class="list-item">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Thursday</p>
			<div class="list-item">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Friday</p>
			<div class="list-item">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Saturday</p>
			<div class="list-item">
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
				<mat-card>
					<div class="time-info" color="primary">9:30am</div>
					<mat-card-content>
						<img mat-card-avatar class="header-image"  src="assets/images/patient.jpg">
						<div class="content-info">Abrahan</div>
						<div class="content-info">Mently depressed</div>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>Shedule</button>
						<button mat-button>Cancel</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
		<div class="col-lg-1 col-md-4 col-sm-6 col-xs-6 col-item">
			<p class="title">Sunday </p>
			<div class="list-item no-appointments">
				<div class="no-card">Off Duty</div>
				<div class="no-card">You havent set any available hours for this day</div>
				<div class="no-card"><a ui-sref="">Set Available Hours</a></div>
			</div>
		</div>
  	</div>
</div>
