/* Form */
@import '../../styles';
.form {
    .info {
        margin-bottom: 40px;
    }
    img {
        padding: 35px 35px 10px 35px;
        max-height: 100px;
    }
    span {
        color: #4d4d4d;
        font-size: 12px;
        .fa {
            color: $primary;
        }
    }
    .login-form {
        float: none;
    }
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto;
    padding: 35px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-sizing: border-box;
        font-size: 12px;
    }
    button {
        outline: 0;
        background: $primary;
        width: 100%;
        border: 0;
        padding: 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
        span {
            color: $primary;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.container {
    position: relative;
    z-index: 1;
    max-width: 400px;
    margin: 0 auto;
    .info {
        margin: 50px auto;
        text-align: center;
        h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }
        span {
            color: #4d4d4d;
            font-size: 12px;
        }
    }
}



/* END Form */
