<div class="main-div">
  <div class="form">
    <mat-card>
      <div class="love col-xs-12">
        <span>
          Made in
          <i class="fa fa-heart"></i>
          with
          <a href="http://betasquirrel.com" target="_blank">
            betasquirrel
          </a>
        </span>
      </div>
      <!-- register form -->
      <form *ngIf="!loginForm" [formGroup]="registerFormGrp">
        <div *ngIf="!otpEnabled">
          <!-- name -->
          <mat-form-field>
            <input matInput placeholder="Full Name" formControlName="fullName" required>
          </mat-form-field>
          <!-- email -->
          <mat-form-field>
            <input matInput type="email" placeholder="E-mail" formControlName="email" required>
          </mat-form-field>
          <!-- mobile -->
          <mat-form-field>
            <input matInput type="tel" placeholder="Mobile" formControlName="mobile" required minlength="10" maxlength="10">
          </mat-form-field>
          <!-- password -->
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <!-- submit -->
          <button (click)="registerUser()" mat-raised-button color="primary">
            Register
          </button>
        </div>
        <div [hidden]="!otpEnabled">
          <div id="recaptcha-container"></div>
          <mat-form-field>
            <input matInput placeholder="OTP" formControlName="otp">
          </mat-form-field>
          <!-- submit -->
          <button (click)="verifyUser()" mat-raised-button color="primary">
            Verify
          </button>
        </div>
        <!-- links -->
        <p class="message">
          Already registered?
          <span (click)="navigateToSignIn()">Sign In</span>
        </p>
      </form>
      <!-- /register form -->
      <!-- login form -->
      <form *ngIf="loginForm" class="login-form" autocomplete="off">
        <div *ngIf="!otpEnabled">
          <mat-form-field>
            <input matInput placeholder="Mobile" ng-model="loginUser.mobile">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" ng-model="loginUser.password">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createOtp()">
            Login
          </button>
        </div>
        <button *ngIf="otpEnabled" (click)="login()">
          Login
        </button>
        <p class="message">
          Not registered?
          <span (click)="loginForm = !loginForm">Create an account</span>
        </p>
      </form>
      <!-- /login form -->
    </mat-card>
  </div>
</div>
