<div class="main-div">
  <div class="form">
    <mat-card>
      <div class="love col-xs-12">
        <span>
          Made in
          <i class="fa fa-heart"></i> with
          <a href="http://betasquirrel.com" target="_blank">betasquirrel</a>
        </span>
      </div>
      <!-- register form -->
      <form *ngIf="!loginForm">
        <mat-form-field>
          <input matInput placeholder="Full Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="E-mail">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" placeholder="Mobile">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button (click)="createUser()" mat-raised-button color="primary">Register</button>
        <p class="message">
          Already registered?
          <span (click)="registerUser()">Sign In</span>
        </p>
      </form>
      <!-- /register form -->
      <!-- login form -->
      <form *ngIf="loginForm" class="login-form" autocomplete="off">
        <div *ngIf="!otpEnabled">
          <mat-form-field>
            <input matInput placeholder="Mobile" ng-model="loginUser.mobile">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" ng-model="loginUser.password">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createOtp()">Login</button>
        </div>
        <div *ngIf="otpEnabled">
          <mat-form-field>
            <input matInput placeholder="OTP">
          </mat-form-field>
        </div>
        <button *ngIf="otpEnabled" (click)="login()">
          Login
        </button>
        <p class="message">
          Not registered?
          <span (click)="loginForm = !loginForm">Create an account</span>
        </p>
      </form>
      <!-- /login form -->
    </mat-card>
  </div>
</div>
