@import '../../styles';
app-login {
    .form {
        .info {
            margin-bottom: 40px;
        }
        img {
            padding: 35px 35px 10px 35px;
            max-height: 100px;
        }
        .love {
            color: #4d4d4d;
            font-size: 12px;
            .fa {
                color: $primary;
            }
        }
        .login-form {
            float: none;
        }
        .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
            span {
                color: $primary;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .container {
        position: relative;
        z-index: 1;
        max-width: 400px;
        margin: 0 auto;
        .info {
            margin: 50px auto;
            text-align: center;
            h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }
            span {
                color: #4d4d4d;
                font-size: 12px;
            }
        }
    }
    .main-div {
        display: table;
        height: 500px;
        text-align: center;
        margin: 7% auto;
        width: 300px;
        .form {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    mat-form-field {
        width: 100%;
    }
    .mat-raised-button {
        width: 100%;
        color: $white;
    }
}
