<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-form-field>
                <input
                    matInput
                    placeholder="Name of Patient"
                >
            </mat-form-field>

        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <mat-form-field>
                <input
                    matInput
                    [matDatepicker]="dp"
                    placeholder="Date of appointment"
                    [formControl]="date"
                >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dp"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button [routerLink]="['/booking-confirmation']">Make an appointment</button>
            <div class="col-md-4"></div>

        </div>
    </div>
</div>
