// imports
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
// colors
$white: #ffffff;
$tuna: #1f222e;
$athens-gray: #f2f3f7;
$primary: #6a4eb7;
// font family
$montserrat-font: Montserrat,
'Helvetica Neue',
'Lucida Grande',
Arial,
Verdana,
sans-serif;
$open-font: 'Open Sans',
'Helvetica Neue',
'Lucida Grande',
Arial,
Verdana,
sans-serif;
// font weight
$slim: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
// common styles
body {
    margin: 0 auto;
}

app-root {
    height: 100vh;
}

.container {
    padding-top: 15px;
    max-width: 100% !important;
}

.filter-bar {
    background-color: #e9e9e9;
    height: 60px;
    padding: 8px 15px;
    form {
        font-size: 12px;
    }
    mat-option {
        font-size: 14px;
    }
}
